header{
    background-color: $color1;
    flex-wrap: wrap;
    position: sticky;
    z-index: 2;
    top: 0;
    padding: 10px;
    nav{
        ul{
            list-style: none;
            li{
                display: inline-block;
                margin: 10px;
                a{
                    text-decoration: none;
                    color: $color2;
                    font-size: nth($font-size, 4);
                    font-weight: 200;
                    font-weight: bold;
                    &:hover{
                        color: $color4;
                        transition: color 0.3s ease;
                    }
                }
            }
        }
    }
}
.contenedor{
    @include flex(flex, space-between, center);
    padding: 5px;
}

.logo{
    width: 250px;
    height: auto;
}
.logoredes{
    width: 30px;
    height: auto;
}
.botones{
    display: inline-block;
}
.barra{
    display: flex;
    background-color: $color3;
    justify-content: space-evenly;
}