//*INDEX/**

.subtitulos{
    font-size: nth($font-size, 5);
    text-align: left;
}
.section2index{
    padding: 20px;
}

.section2contenido{
    @extend %flex;
    @include flex(flex, center, center);
}
.section2video{
    iframe{
        border-radius: 10px;
}
}
.section3index{
    padding: 20px;
}
.section3contenido{
    @extend %flex;
    @include flex(flex, center, center);
}


.section3mapa{
    iframe{
        border-radius: 10px;
} 
}
.section3texto{
    padding: 20px;
    text-align:justify;
}
.section3index{
    div{
        h2{
            text-align: end;
        }
    }
}

//*SERVICIOS/**

.contenedorservicios{
    @extend %flex;
    @include flex(flex, center, center);
}
.textoservicios{
    padding: 20px;
    color: $color2;
    font-size: nth($font-size, 4);
}
.textoservicios{
    h3{
        margin-bottom: 5px;
    } 
}
.textoservicios {
    line-height: 40px;
}

.imagenservicios{
    img{
    border-radius: 10px; 
}
}

//*TU MASAJISTA/**

.tumasajistatitulo{
    @extend %flex;
    @include flex(flex, center, center);
}
.tumasajistaparrafo1{
    @extend %flex;
    @include flex(flex, center, center);
}
.tumasajistaparrafo2{
    @extend %flex;
    @include flex(flex, center, center);
}


.contenedorgrid {
    font-size: nth($font-size, 4);
}

.contenedorgrid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(250px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
}

.grid-galeria{
    max-width: 90%;
    padding: 1rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr;
    grid-template-rows: 1fr, 1fr, 1fr, 1fr;
    grid-gap: 1rem;
}
.grid-galeria{
    img{
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 10px;  
        border: 1px solid $color1;

}
}
.grid-galeria-item1{
    grid-row: 1 / 3;
}

.grid-galeria-item3{
    grid-column: 3 / 5;
}
.grid-galeria-item4{
    grid-row: 2 / 4;
}
.grid-galeria-item8{
    grid-column: 3 / 5;
}

//*TU PROMOCIONES/**

/* 1ERA SECTION PROMOCIONES*/

.contenedorpromociones1{
    background-color: $color2;
    padding: 50px;
}
.textopromociones{
    color: $color1;
    text-align: center;
    font-size: nth($font-size, 4);
}

.textopromociones{
    li{
        text-align: justify;
        padding-top: 15px;
}
}

/* 2DA SECTION PROMOCIONES*/
.contenedorpromociones2{
    display: flex;
}
.titulopromociones{
    padding: 30px;
}
section{
    h3 {
        text-align: center;
        font-size: nth($font-size, 5);
        margin-bottom: 20px; 
}
}
.contenedorpromociones2{
    @include flex(flex, center, center);
    flex-wrap: wrap;
}

.contenedorpromociones2{
    div {
    width: 300px;
    padding: 10px;
    margin: 10px;
    border: 1px solid $color1;
    text-align: center;
}
}
.contenedorpromociones2{
    img {
        width: 100%;
        height: auto;
        border-radius: 5px; 
} 
}
.contenedorpromociones2{
    h4 {
        font-size: nth($font-size, 4);
        margin-top: 10px;
        margin-bottom: 5px; 
}
}
.contenedorpromociones2{
    p {
    font-size: nth($font-size, 3);
    line-height: 1.5; 
}
}

//*RESERVA DE TURNO/**

.turno{
    align-items: center;
    padding: 30px;
    background-image: url(../img/fondo13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;

}
.turnomapa{
    display: flex;
    justify-content: center;
    background-color: $color1;
    background-attachment: fixed;
}
.turnomapa{
    iframe{
    width: 100%;
    height: 300px;
    padding: 20px;
    border-radius: 10px;
    }
}




