//*COLORES*//

$color1: #e2e0da;
$color2: #6b6b6b;
$color3: #f29511;
$color4: whitesmoke;
$color5: #c49463;


%flex{
    padding: 50px;
    border-radius: 10px;
}

$font-size:
10px,
12px,
16px,
20px,
24px,
30px;

// font-size: nth($font-size, 5);

@mixin flex($flex, $justity, $align){
    display: $flex;
    justify-content: $justity;
    align-items: $align;
}

// @include flex(flex, center, center);

